/* Color palette */
:root {
  --bg:	#000000;
  --fg:	#ede8e1;
  --hl1:	chocolate;
  --hl2:	sandybrown;
  --hl3:  tan;
  --hl4:  wheat;
  --hl5:  cornsilk;
}

body {
  margin: auto;
  margin-top: 1em;
  margin-bottom: 2em;
  width: 90%;
  max-width: 900px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: justify;
color: var(--fg);
background: var(--bg);
}

h1 {
  color: var(--hl1);
  font-size: 2.4em;
  text-align: center;

}

h2 {
  color: var(--hl2);
  text-align: center;
  text-decoration: underline;
}

h3 {
  color: var(--hl3);
  text-align: left;
  text-decoration: underline;
}

hr {
  margin-bottom: 10px;
}

img {
  max-width: 100%;
}

a {
  color: #22bbff;
}

a:hover {
  color: var(--var(--hl2));
  font-style: italic;
}

ul {
  padding-left: 20px;
}

code {
  display: block;
  background-color: #10222b;
  color: green;
  padding: 10px;
  font-family: monospace;
  font-size: 16px;
  border-radius: 5px;
}

header {
  text-align: center;
}

nav a {
  padding: 0.5em;
  padding: 1em;
  font-weight: bold;
}

nav {
  padding: 0.5em;
}

time{
  font-family: monospace;
  color: #888;
  font-size: 15px;
}

table {
  border: 1px solid var(--hl2);
  border-collapse: collapse;
  padding: 8px;
}

th, td {
  border: 1px solid var(--hl3);
  padding: 8px;
}

th {
  color: var(--hl2)
}

.blog-img {
  width: 250px;
}

.title {
  font-size: 3em;
  margin: 5px;
}

.biglink {
  color: #33bbff;
  text-align: left;
  font-size: 1.1em;
  display: inline-block;
  font-weight: bold;
  font-style: italic;
}

.biglink:hover {
  color: var(--hl2)
}

.resright {
  float: right;
  text-align: center;
}

.footer {
  text-align: center;
}

.footer img {
  width: 60px;
}

.copyright {
  text-align: center;
}

.button {
display: inline-block;
padding: 8px 16px;
font-size: 14px;
font-weight: bold;
color: #ffffff;
background-color: chocolate;;
border: none;
border-radius: 4px;
transition: background-color 0.3s ease;
}

.button:hover {
background-color: tan;
cursor: pointer;
}

.button:focus {
outline: none;
box-shadow: 0 0 0 3px rgba(139, 69, 19, 0.3);
}

#random-quote {
padding-left: 30%;
font-style: italic;
}

#nezuko {
  width: 100px
}


@media only screen and (max-width: 1056px) {
  
  body {
      font-size: 16px;
  }
  
  .title {
      font-size: 2em;

  }

  .resright {
      float: none;
      display: block;
  }

  nav a {
      padding: 0.2em;
  }

  nav {
      padding: 0.2em;
  }

  th, td {
      padding: 2px;
  }
}